<!--<app-product [product]="productData"></app-product>-->

<!--<div *ngFor="let p of productList | filterdata:'productCost':'>':'10000'">-->
<div *ngFor="let p of productList | filterdata:'productStock':'=': data | page:3:pageno">
        <app-product
         [product]="p"
         (addItem)="addItem($event)"
         [ccode]="code">
        </app-product>
</div>
<div>
        <button (click)="changePage('n')" *ngIf="data!==null">Next</button>
        <button (click)="changePage('p')" *ngIf="pageno!==0">Previous</button>

</div>