<!-- <app-test></app-test> -->
<!--<app-product></app-product>-->
<!--
<app-currency (selected)="getCurrency($event)"></app-currency>

<app-product-list 
    (addtocart)="addToCart($event)"
    [code]="currency">
</app-product-list>

<app-cart></app-cart>
-->

<!--
<app-cart [cartItems]="cartData"></app-cart>
-->

<!--<app-template-driven></app-template-driven>-->
<!--<app-model-driven></app-model-driven>-->
<!--<app-dynamic-forms></app-dynamic-forms>-->
<!--<app-albums></app-albums>-->
<!--
<app-firebase></app-firebase>
<app-login></app-login>
-->
<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>